body {
  background-image: url(https://img4.goodfon.com/wallpaper/nbig/7/1e/city-purple-purple-lights-light-and-magic-new-york-city-buil.jpg);
  background-size: cover;
}

h1 {
  font-family: "Pacifico", cursive;
  color: white;
}

h2 {
  font-family: "Pacifico", cursive;
  font-size: 35px;
  text-align: center;
  color: antiquewhite;
}

h3 {
  font-family: "Pacifico", cursive;
  font-size: 30px;
  text-align: right;
  color: blanchedalmond;
}
